<h1>NOOR</h1>
<div>
  <%= link_to the_last_sunbeam_path, class: "d-flex flex-column align-items-center justify-content-between" do %>
    <p>The Last Sunbeam</p>
  <% end %>
  <%= link_to instantanes_path, class: "d-flex flex-column align-items-center justify-content-between" do %>
    <p>Instantanés</p>
  <% end %>
  <%= link_to linogravures_path, class: "d-flex flex-column align-items-center justify-content-between" do %>
    <p>Linogravures</p>
  <% end %>
  <%= link_to poemes_path, class: "d-flex flex-column align-items-center justify-content-between" do %>
    <p>Poèmes</p>
  <% end %>
</div>
